.snowflake-container {
  z-index: 100;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0%;
  overflow: hidden;
}

.snowflake-el {
  aspect-ratio: 1 / 1.15;
  background-image: url('https://cdn.prod.website-files.com/6941599afc835c41f83ca9ca/69416a9de9533b6332c72b9e_snowflake.avif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  position: absolute;
}

.snowflake-el.hidden {
  opacity: 0;
}