@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #11158b;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-white dark:bg-dark-80 text-foreground dark:text-light-90;
  }

  main {
    @apply min-h-[50vh] overflow-hidden;
  }

  h1,h2,h3,h4 {
    @apply mb-6 mt-2;
  }

  p {
    @apply mb-4;
  }

  ul li {
    @apply list-disc mb-2 ml-4;
  }

  img {
    @apply rounded-md;
  }
}

::-moz-selection { /* Code for Firefox */
  @apply text-light-90 bg-primary;
}

::selection {
  @apply text-light-90 bg-primary;
}

.dark .custom-zoom [data-rmiz-modal-overlay="visible"] {
  @apply bg-dark-80;
}

.custom-zoom img {
  @apply rounded-2xl;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;
  @apply px-4 md:px-8 xl:my-32 xl:px-16;
}

h1 {
  @apply text-4xl leading-tight font-medium md:text-6xl;
}
h2 {
  @apply text-2xl font-medium md:text-5xl leading-normal;
}
h3 {
  @apply text-xl font-medium md:text-4xl leading-normal;
}
h4 {
  @apply text-lg font-medium md:text-3xl leading-normal;
}
p {
  @apply text-base;
}

.btn {
  @apply px-6 py-4 text-white bg-light-50 rounded-md transition-all duration-200 text-center mb-1;
}
.btn:hover {
  @apply bg-light-30 shadow-inner translate-y-1;
}
.footer-btn {
  @apply flex gap-2 items-center text-light-50 border-2 border-light-50 rounded-full transition-all duration-200 text-center font-medium text-xl px-6 py-4 lg:px-8 lg:py-6 lg:text-2xl;
}
.footer-btn:hover {
  @apply bg-light-50 text-white shadow-inner translate-y-1;
}
.btn-outline {
  @apply px-4 py-2 rounded-full bg-transparent border border-light-30 text-light-30 hover:bg-light-30 hover:text-white;
}

.input {
  @apply px-4 py-2 rounded-md border transition-all duration-200;
}
label {
  @apply text-xs uppercase font-bold text-light-50;
}
.tag {
  @apply text-light-50;
  font-weight: 700;
}

.of {
  @apply w-1 h-1;
}
.ir { @apply mr-4; }
.la { @apply flex items-center gap-2; }
.dpl{
  width: auto;
}
.alm {
  /* background-color: linear-gradient(0deg, #02020F 10%, transparent 100%); */
  @apply bg-dark-90 mr-2 ml-2;
}
.dqo{
  --tw-translate-x: 0;
  translate: 0;
}
.dio { position: static; }
.dqe { flex: auto; }
.rl {height: 1px;}
.swiper-button-prev,
.swiper-button-next {
  @apply !text-dark-90 !opacity-0 !h-full;
}