.col12 {
  width: 100%;
  flex: 0 0 100%;
}
.stackWrapper {
  grid-row-gap: 5rem;
  flex-direction: column;
  display: flex;
  position: relative;
}
.stackWrapper .stackItem {
  position: -webkit-sticky;
  position: sticky;
  top: 7.5rem;
}
@media (max-width: 991px) {
  .stackWrapper .stackItem {
    top: 7.5rem;
    height: 500px;
  }
}
@media (max-width: 575px) {
  .stackWrapper .stackItem {
    top: 7rem;
    height: 60vh;
  }
}

.bgPurple {
  background-color: #f8f4ff;
}

.badge {
  display: inline-flex;
  gap: 0.25em;
  padding: 0.5rem 0.75rem;
  border-radius: 50rem;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: white;
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.badge.small {
  padding: 0.35rem 0.65rem;
}
.badge.outlined {
  border: 2px solid currentColor;
  color: currentColor;
}
.badge:not(.outlined) {
  background-color: white;
}
.badge:hover {
  opacity: 0.6;
}

.widget .badge {
  margin: 5px 2.5px;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.card .imageHolder {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card .cardOverlay {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 3vh;
  color: white !important;
}
.card .cardOverlay.top {
  top: 0;
  bottom: auto;
  background: 17, 16, 19;
  background: linear-gradient(180deg, rgba(17, 16, 19, 0.5) 0%, rgba(17, 16, 19, 0) 100%);
}
.card .cardOverlay.fadeUp {
  transform: translateY(6%);
  opacity: 0;
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.card .cardOverlay.fadeDown {
  transform: translateY(-6%);
  opacity: 0;
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.card .cardOverlay:not(.top) {
  bottom: 0;
}
.card:hover .cardOverlay.fadeUp {
  transform: none;
  opacity: 1;
}
.card:hover .cardOverlay.fadeDown {
  transform: none;
  opacity: 1;
}
.portfolioItem .cardThumb {
  display: block;
  overflow: hidden;
}
.portfolioItem .cardThumb img {
  height: 100%;
    width: 100%;
  object-fit: cover;
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
@media (max-width: 575px) {
  .portfolioItem .cardThumb img {
    min-height: 60vh;
  }
}
.portfolioItem .showProject {
  position: relative;
  overflow: hidden;
}
.portfolioItem .showProject .cardTerms {
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.portfolioItem .showProject .projectLink {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.portfolioItem .showProject .projectLink a {
  color: var(--color-light-90);
  font-weight: 600;
}
.portfolioItem .showProject .projectLink a::after {
  position: absolute;
  content: "";
  top: 48%;
  right: -0.5rem;
  height: 2px;
  width: 3rem;
  background-color: currentColor;
  transform: translate(100%, 50%);
}
.portfolioItem .cardMeta .terms:first-child {
  margin-left: 0;
}
.portfolioItem a.cardBtn {
  display: flex;
  padding: 0.8rem;
  background-color: white;
  border-radius: 50rem;
  color: var(--color-light-90);
}
.portfolioItem.scale:hover .cardThumb img {
  transform: var(--transform-scale);
}
.portfolioItem.hasShadow .cardThumb::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 85%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 7, 18, 0)), to(rgba(3, 7, 18, 0.45)));
  background: linear-gradient(180deg, rgba(3, 7, 18, 0), rgba(3, 7, 18, 0.45));
  -webkit-transition: opacity cubic-bezier(.645, .045, .355, 1) 0.35s;
  transition: opacity cubic-bezier(.645, .045, .355, 1) 0.35s;
}
.portfolioItem:hover .cardTerms {
  transform: translate(0, -100%);
  opacity: 0;
}
.portfolioItem:hover .projectLink {
  transform: translate(0, -100%);
  opacity: 1;
}
.portfolioItem.layout2 .cardOverlay {
  color: white;
}
.portfolioItem.layout2 .cardOverlay .title,
.portfolioItem.layout2 .cardOverlay .badge {
  color: white;
}
.portfolioItem.layout2 .cardOverlay .showProject .projectLink a {
  color: white;
}
.portfolioItem.layout2 .cardOverlay:not(.top) {
  background: 17, 16, 19;
  background: linear-gradient(360deg, rgba(17, 16, 19, 0.5) 0%, rgba(17, 16, 19, 0) 100%);
}

.portfolioMeta {
  font-weight: 400;
}
.portfolioMeta .date {
  position: relative;
}
.portfolioMeta .date::before {
  content: "\f309";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-family: bootstrap-icons !important;
  font-size: 1em;
  font-weight: 600 !important;
}
.portfolioMeta .title {
  font-weight: 600;
}
.portfolioMeta .socials .navLink {
  font-weight: 600;
}

.portfolioContent {
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .portfolioContent {
    margin-top: 2rem;
  }
}

.portfolioTerms a.terms {
  margin-right: 4px;
  color: black;
}
.portfolioTerms a.terms::after {
  content: ",";
}
.portfolioTerms a.terms:last-child::after {
  content: none;
}

@media (max-width: 1199px) {
  .stackItem .cardThumb {
    height: 100%;
  }
}
.stackItem .cardThumb img {
  width: 100%;
}
@media (max-width: 1199px) {
  .stackItem .cardThumb img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.intro {
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 40px;
  z-index: 1;
}
.intro .title {
  margin: 0;
}
.intro .btn:hover {
  opacity: 0.6;
}
.intro .flex span {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.intro .flex span.line {
  max-width: 6rem;
}
@media (max-width: 575px) {
  .intro .flex span.line {
    max-width: 4rem;
  }
}
