.blog-rich-text h2 {
  @apply text-2xl lg:text-4xl mb-8 font-medium;
}
.blog-rich-text h3 {
  @apply text-xl lg:text-3xl mb-6 font-medium;
}
.blog-rich-text code {
  @apply bg-light-90 dark:bg-dark-20 px-1.5 py-0.5 rounded text-sm font-mono;
}